.modal {
  position: fixed;
  inset: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: opacity, visibility 0.3s ease;
  z-index: 100;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__background {
    position: absolute;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
  }

  .loader {
    border: 6px solid var(--items-bgc);
    border-top: 6px solid var(--color-base);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.modal-country {
  position: fixed;
  inset: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: opacity, visibility 0.3s ease;
  z-index: 100;

  &__background {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    inset: 0;
    z-index: 99px;
  }

  &__content {
    position: relative;
    max-width: 1350px;
    width: 100%;
    max-height: 785px;
    height: 100%;
    border-radius: 10px;
    background: var(--wrapper-bgc);
    z-index: 100;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
    padding: 0 69px;
    display: flex;
    align-items: center;
  }

  &__close {
    position: absolute;
    right: 32px;
    top: 32px;

    img {
      width: clamp(16px, 4.3vw, 24px);
      aspect-ratio: 1;
      object-fit: contain;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.content-modal {

  &__inner {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: clamp(44px, 11vw, 120px);
    row-gap: 44px;
    align-items: center;
  }

  &__flag {
    max-width: clamp(320px, 80vw, 560px);
    width: 100%;

    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    max-width: 531px;
    width: 100%;
  }

  .info {

    &__title {
      &-modal {
        margin-bottom: 23px;
      }
    }

    &__wrapper {
      width: 100%;
      display: flex;
      gap: 32px;
      margin-bottom: 70px;

      div {
        width: 100%;
      }
    }

    &__secondary {
      display: flex;
      font-size: 16px;
      gap: 5px;

      &-borders {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
      }
    }

    &__value {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      span {
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        background-color: var(--items-bgc);
        min-width: 96px;
        min-height: 28px;
        padding: 0 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .modal-country {
    &__content {
      position: absolute;
      inset: 0;
      min-height: 100%;
      border-radius: 0px;

      overflow-y: scroll;
    }
  }
  .content-modal {
    &__inner {
      flex-direction: column;
    }
  }
  .info {
    &__wrapper {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 600px) {
  .info {
    &__wrapper {
      flex-direction: column;
    }
  }
}
