:root {
	--font-base: "Nunito Sans", sans-serif;
	--font-size-base: 14px;
	--font-weight-base: 300;
	--line-height-base: 1.14;
	--color-base: #111517;

	--width-wrapper: 1440px;
	--container-width: 1280px;
	--container-padding: 16px;
	
	--wrapper-bgc: #FAFAFA;
	--items-bgc: #fff;
	--color-input: #848484;
}
